<div class="container mt-5">
    <div>
        <h4 class="text-center">Ofertas Disponibles</h4>
        <div class="row row-cols-1 row-cols-md-2 g-4 mt-2">
            <div class="col">
                <div class="card">
                    <div class="card-header text-body-secondary text-center">
                        Precio:
                    </div>
                    <!-- <img src="..." class="card-img-top" alt="..."> -->
                    <div class="card-body text-center">
                        <h5 class="card-title">Nombre Oferta</h5>
                        <a href="#" class="btn btn-primary mt-1">Ver Productos</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>