<nav class="navbar navbar-expand-lg black-background bg-gradient">
  <div class="container-fluid">
    <a [routerLink]="['principal']">
      <img src="../../../assets/images/homepage/birabar-logo.png" alt="Birabar" class="custom-logo">
    </a>
    <span class="text-warning fw-semibold" *ngIf="(loginService.rolLogged()==='Gestor')">GESTIÓN</span>
    <span class="text-info fw-semibold" *ngIf="(loginService.rolLogged()==='Administrador')">ADMINISTRACIÓN</span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center fw-semibold" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item" *ngIf="(loginService.rolLogged()!=='Gestor') && loginService.rolLogged()!=='Administrador'">
          <a class="nav-link active text-white fs-6 mx-4" aria-current="page" [routerLink]="['principal']">Principal<i class="fa-solid fa-house ms-1"></i></a>
        </li>
        <li class="nav-item" *ngIf="(loginService.rolLogged()!=='Gestor') && loginService.rolLogged()!=='Administrador' ">
          <a class="nav-link active text-white fs-6 mx-4" aria-current="page" [routerLink]="['about-us-page']">Nosotros<i class="fa-solid fa-users ms-1"></i></a>
        </li>
        <li class="nav-item" *ngIf="(loginService.rolLogged()!=='Gestor') && loginService.rolLogged()!=='Administrador' ">
          <a class="nav-link active text-white fs-6 mx-4" aria-current="page" [routerLink]="['local-info']">Contacto <i class="fa-solid fa-phone-volume ms-1"></i></a>
        </li>
        <li class="nav-item dropdown" *ngIf="(loginService.rolLogged()==='Gestor')">
          <a class="nav-link dropdown-toggle text-white fs-6 mx-4" role="button" data-bs-toggle="dropdown" aria-expanded="false" [routerLink]="['gestion-productos']">Gestion Productos</a>
        </li>
        <li class="nav-item dropdown" *ngIf="(loginService.rolLogged()==='Gestor')">
          <a class="nav-link dropdown-toggle text-white fs-6 mx-4" role="button" data-bs-toggle="dropdown" aria-expanded="false" [routerLink]="['gestion-carta']">Gestion Carta</a>
        </li>
        <li class="nav-item dropdown" *ngIf="(loginService.rolLogged()==='Gestor')">
          <a class="nav-link dropdown-toggle text-white fs-6 mx-4" role="button" data-bs-toggle="dropdown" aria-expanded="false" [routerLink]="['comboGestion']">Gestion Combos</a>
        </li>
        <li class="nav-item dropdown" *ngIf="(loginService.rolLogged()==='Gestor')">
          <a class="nav-link dropdown-toggle text-white fs-6 mx-4" role="button" data-bs-toggle="dropdown" aria-expanded="false" [routerLink]="['ofertaGestion']">Gestion Ofertas</a>
        </li>
        <li class="nav-item dropdown" *ngIf="(loginService.rolLogged()==='Gestor')">
          <a class="nav-link dropdown-toggle text-white fs-6 mx-4" role="button" data-bs-toggle="dropdown" aria-expanded="false" [routerLink]="['local-info']">Gestion Contacto</a>
        </li>
        <li class="nav-item dropdown" *ngIf="(loginService.rolLogged()==='Administrador')">
          <a class="nav-link dropdown-toggle text-white fs-6 mx-4" role="button" data-bs-toggle="dropdown" aria-expanded="false" [routerLink]="['usuarioGestion']">Gestion Usuarios</a>
        </li>
        <li class="nav-item dropdown" *ngIf="(loginService.rolLogged()==='Administrador')">
          <a class="nav-link dropdown-toggle text-white fs-6 mx-4" role="button" data-bs-toggle="dropdown" aria-expanded="false">Reporte Ventas</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item text-center" [routerLink]="['registro']">Registrar<i class="fa-solid fa-user-plus ms-1"></i></a></li>
          </ul>
        </li>
        <li class="nav-item dropdown" *ngIf="(loginService.rolLogged()==='Administrador')">
          <a class="nav-link dropdown-toggle text-white fs-6 mx-4" role="button" data-bs-toggle="dropdown" aria-expanded="false">Reporte Calificaciones</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item text-center" [routerLink]="['registro']">Registrar<i class="fa-solid fa-user-plus ms-1"></i></a></li>
          </ul>
        </li>

      </ul>
    </div>
    <div>
      <button class="btn btn-sm green-background" *ngIf="!loginService.userLoggedIn()" [routerLink]="['login']">
        <i class="fa-solid fa-user me-1"></i>Ingresar
      </button>
      <button class="btn btn-sm bg-white ms-1" *ngIf="!loginService.userLoggedIn()" [routerLink]="['registro']">
        <i class="fa-solid fa-plus me-1"></i>Registrarse
      </button>
      <div class="btn-group" *ngIf="loginService.userLoggedIn()">
        <button class="btn green-background" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa-solid fa-user me-1"></i>{{loginService.userLogged()}}
        </button>
        <ul class="dropdown-menu">
          <li><button class="dropdown-item" [routerLink]="['perfil']">Mi perfil</button></li>
          <li><button class="dropdown-item" (click)="logout()">Salir</button></li>
        </ul>
      </div>
    </div>
  </div>
</nav>