<div class="black-background text-light">
    <div class="container pt-4 pb-5">
        <h4 class="text-center mb-3">Gestión de Combos</h4>
        <div class="input-group mb-4">
            <a class="btn btn-black text-white bi bi-plus-circle" href="/combo-form/0"> Crear Combo</a>
            <button class="btn btn-black text-white bi bi-search" type="button"> Buscar Combo</button>
            <input type="text" class="form-control"
                placeholder="Ingresar el nombre de un combo a buscar" [(ngModel)]="searchCombo" (ngModelChange)="buscarPorTitulo()">
        </div>
        <div class="text-center border rounded-3 m-auto p-5" style="width: 300px;" *ngIf="combos.length==0">
            <h4 class="bi bi-exclamation-octagon"></h4>
            <h6 class="mb-3">No existen combos.</h6>
            <a class="btn btn-light bi bi-plus-circle" href="/combo-form/0"> Crear Combo</a>
        </div>
        <div class="text-center table-responsive" *ngIf="combos.length!=0">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Imagen</th>
                        <th scope="col">Titulo</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Descuento</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let combo of combos">
                        <td><img [src]="combo.imagen" style="width: 30px;height:30px;"></td>
                        <td>{{combo.titulo}}</td>
                        <td>{{combo.montoFinal | currency:'$':'symbol':'1.0-2'}}</td>
                        <td>{{combo.descuento * 100}}%</td>
                        <td style="font-size: 18px;">
                            <a class="btn btn-primary bi bi-pencil-square" href="/combo-form/{{combo._id}}"
                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .4rem; --bs-btn-font-size: .75rem; margin-right: 3px;"></a>
                            <a class="btn btn-danger bi bi-trash3" (click)="eliminarCombo(combo._id)"
                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .4rem; --bs-btn-font-size: .75rem; margin-top: 0;"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>