<form class="container align-content-center d-grid col-md-6 col-sm-12 mt-5" #productoForm="ngForm">
    <div class="border border-1 border-black rounded-3">
        <div class="d-grid text-center bg-info-subtle rounded-top-3">
            <div class="d-grid text-center" *ngIf="accion=='new'">
                <h4>Alta de Producto</h4>
            </div>
            <div class="d-grid text-center" *ngIf="accion=='update'">
                <h4>Actualizar Producto</h4>
            </div>
        </div>
        <div class="mb-3">
            <div class="row pt-4">
                <div class="col-xl-4 col-md-12 col-sm-12 ps-4">
                    <label for="nombreProducto" class="col-form-label">Nombre del producto:</label>
                </div>
                <div class="col-xl-8 col-md-12 col-sm-12 pe-4">
                  <input type="text" class="form-control rounded-1" id="nombreProducto" name="nombreProducto" placeholder="Ej: Hamburguesas" [(ngModel)]="producto.nombreProducto" required #nombreProducto="ngModel">
                    <div class="text-center">
                        <div *ngIf="nombreProducto.invalid && (nombreProducto.dirty || nombreProducto.touched)" class="alert alert-danger">
                            <div *ngIf="nombreProducto.errors?.['required']">
                                Debe ingresar el nombre del producto
                            </div>
                        </div>
                    </div>
                </div>  
            </div>

            <div class="row pt-4">
                <div class="col-xl-4 col-md-12 col-sm-12 ps-4">
                    <label for="descripcionProducto" class="col-form-label">Descripcion del producto:</label>
                </div>
                <div class="col-xl-8 col-md-12 col-sm-12 pe-4">
                    <textarea class="form-control" id="descripcionProducto" name="descripcionProducto" [(ngModel)]="producto.descripcion" #descripcionProducto="ngModel" required></textarea>
                    <div class="text-center">
                        <div *ngIf="descripcionProducto.invalid && (descripcionProducto.dirty || descripcionProducto.touched)" class="alert alert-danger">
                            <div *ngIf="descripcionProducto.errors?.['required']">
                                Debe ingresar una descripcion del producto
                            </div>
                        </div>
                    </div>
                </div>  
            </div>

            <div class="row pt-4">
                <div class="col-xl-4 col-md-12 col-sm-12 ps-4">
                    <label for="precioProducto" class="col-form-label">Precio del producto:</label>
                </div>
                <div class="col-xl-8 col-md-12 col-sm-12 pe-4">
                  <input type="number" class="form-control rounded-1" id="precioProducto" name="precioProducto" placeholder="Ej: Hamburguesas" [(ngModel)]="producto.precio" required #precioProducto="ngModel">
                    <div class="text-center">
                        <div *ngIf="precioProducto.invalid && (precioProducto.dirty || precioProducto.touched)" class="alert alert-danger">
                            <div *ngIf="precioProducto.errors?.['required']">
                                Debe ingresar el precio del producto
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
            

            <div class="row pt-4">
                <div class="col-xl-4 col-md-12 col-sm-12 ps-4">
                    <label for="categoriaProducto" class="col-form-label">Categoria del producto:</label>
                </div>
                <div class="col-xl-8 col-md-12 col-sm-12 pe-4">
                    <select id="categoriaProducto" name="categoriaProducto" class="text-center form-select rounded-0" [(ngModel)]="producto.categoria" required #categoriaProducto="ngModel">
                        <option selected disabled>Seleccione una Categoria</option>
                        <option *ngFor="let c of listaCategorias" value="{{c._id}}">{{c.nombreCategoria}}</option>
                      </select>
                      <div *ngIf="categoriaProducto.invalid && (categoriaProducto.dirty || categoriaProducto.touched)" class="alert alert-danger">
                        <div *ngIf="categoriaProducto.errors?.['required']">
                          Debe ingresar la categoria del producto
                        </div>
                      </div>
                </div>  
            </div>


            <div class="row pt-4">
                <div class="col-xl-4 col-md-12 col-sm-12 ps-4 pt-2">
                    <label for="imagen" class="form-label">Elija una imagen: </label>
                </div>
                <div class="col-xl-8 col-md-12 col-sm-12 pe-4">
                    <input class="form-control" type="file" id="imagen" name="imagen" accept="image/*" (change)="onFileSelected($event)" ngModel #imagen="ngModel" required>
                    <div class="d-grid justify-content-center pt-3">
                        <img [src]="producto.imagen" class="img-thumbnail img-fluid" style="max-width: 300px"/>
                    </div>
                    
                    <div *ngIf="imagen.invalid && (imagen.dirty || imagen.touched)" class="alert alert-danger">
                        <div *ngIf="imagen.errors?.['required']">
                          Debe ingresar una imagen
                        </div>
                    </div>
                    
                </div>
            </div>

            <div class="d-grid justify-content-center pt-4">
                <div class="row g-5">
                    <div class="col-md-6 col-sm-6 col-12" *ngIf="accion==='new'">
                        <button type="submit" class="form-control bg-info rounded-3 fw-bold" (click)="registrarProducto()" [disabled]="!productoForm.valid">Registrar</button>
                    </div>
                    <div class="col-md-6 col-sm-6 col-12" *ngIf="accion==='update'">
                        <button type="submit" class="form-control bg-success rounded-3 fw-bold text-white" (click)="actualizarProducto()" [disabled]="!productoForm.valid">Actualizar</button>
                    </div>
                    <div class="col-md-6 col-sm-6 col-12">
                        <button type="submit" class="form-control bg-secondary rounded-3 text-white fw-bold" > Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</form>